[mysqld]
#gtid_mode=ON
#enforce-gtid-consistency=ON
binlog_format = 'STATEMENT'
log-slave-updates
bind-address=0.0.0.0
server-id=:serverid:
report-host=:host:
log-bin=:host:
read_only=0
replicate-wild-ignore-table = mysql.%
replicate-wild-ignore-table = test.%
replicate-wild-ignore-table = tmp.%
